# temp up to RT
*.a
*.o
# other
*.swp
*~
*.cmi
*.cmx
*.cma
*.cmo
*.annot
*.opt
*.byte
*.native
src/.depend
regression/.depend
regression/*.log
regression/deep-expressions/*.log
regression/expressions/*.log
